@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "Inter", sans-serif;
}

button {
    font-family: "Inter", sans-serif;
}

h1, h2, h3, h4 {
    font-family: "Poppins", sans-serif;
}


div.contacts {
    background-color: #0e0e08ef;
}

div.contacts div.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 19px 20px;
}

div.container {
    /* background-color: #111105ef; */
    /* text-align: center; */
    margin: 0 auto;
    width: 100%;
    max-width: 1100px;
    padding: 0 20px;
}

div.contacts div.container a {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
    text-decoration: none;
    
}

div.contacts div.container div.left-toolbox a.toolbox-group {
    margin-right: 42px;
}

div.contacts div.container div.right-toolbox a.toolbox-group {
    margin-right: 34px;
}

div.contacts div.container div.right-toolbox a.toolbox-icon {
    margin-left: 16px;
}

div.contacts div.container a img {
    vertical-align: middle;
}


nav div.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 30px;

}

nav ul.menu {
    display: flex;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;

    /* text-decoration: none; */
}

/* patikslinau nurodyta kelia bet rezultato norimo negavau? */
nav div.container ul.menu li {
    margin-left: 50px;
    color: hsl(0, 0%, 0%);
}

nav div.container ul.menu li a {
    text-decoration: none;
    color: hsl(0, 0%, 0%);
}

nav div.container ul.menu li a.button button {
background-color: rgb(114, 98, 201);
color: hsl(0, 0%, 100%);
padding: 15px 32px;

}




/* header div.overlay {
    background-color: #0000ff;
    height: 100%;
} */


header {
    position: relative;
}

header img.header-background {
    width: 100%;
    display: block;
}

header div.overlay h1 span.bold {
    color: rgb(110 237 127);
}





header div.overlay {
    width: 40%;
    height: 100%;
    left: 0;
    top: 0;
    /* margin: 0;
    padding: 0; */
    position: absolute;
    background-color: hsla(0, 0%, 0%, 0.7);
    padding: 200px 100px;
}

header div.overlay p {
    margin: 0;    
    font-size: 15px;
    color: #FFFFFF;

    /* top: 30%; */
    /* padding: 0 20px; */
    /* position: absolute;
    width: 100%;
    left: 50px; */
    /* transform: 0%, -50%; */    
}

header div.overlay h1 {
    margin-bottom: 20px;
    margin-top: 10px;   
    color: #FFFFFF;    
    font-style: normal;
    font-weight: 700;
    font-size: 60px;
    line-height: 110%;

     /* padding: 0 20px; */
    /* position: absolute;
    width: 50%;
    left: 50px; */
    /* transform: 0%, -20%; */
    /* font-size: 70px; */
}



header div.overlay p.text {
    margin: 0;   
    font-size: 15px;    
    color: #ffffff91;

     /* padding: 0 20px; */
    /* position: absolute;
    width: 40%;
    left: 50px; */
    /* transform: 0%, -50%; */
    /* top: 70%; */
}



header div.overlay a.button2 button {
    background-color: rgb(110 237 127);
    color: hsl(0, 0%, 0%);
    padding: 15px 32px;
    font-size: 15px;
    margin-top: 35px;
    

}


div.contacts2 {
    background-color: #0e0e08ef;
}

div.contacts2 div.container2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 19px 20px;
}

div.container2 {
    /* background-color: #111105ef; */
    /* text-align: center; */
    margin: 0 auto;
    width: 100%;
    max-width: 1100px;
    padding: 0 20px;
}
/* sutvarkyti apatine tinklalapio eilute */
div.contacts2 div.container2 a {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
    text-decoration: none;
    
}

div.contacts2 div.container2 div.left-toolbox2 a.toolbox-group2 p.cal {
    margin-left: 20px;
}

  

div.contacts2 div.container2 div.left-toolbox2 a.toolbox-group2 {
    margin-right: 42px;
}

div.contacts2 div.container2 div.toolbox-toolbox2 a.toolbox-group2 {
    margin-right: 34px;
}

div.contacts2 div.container2 div.right-toolbox2 a.toolbox-icon2 {
    margin-left: 16px;
}

div.contacts2 div.container2 a img {
    vertical-align: middle;
}





/* header div.container {
    display: flex;
    justify-content: space-between;
    align-items: center; */
    /* padding: 20px 0px; */
    /* width: 100%;
    height: 850px;
    margin: 0;
    padding: 0;
    position: relative; */
    /* background-color: #6b6ba093;
    background-size: cover; */
/* } */






/* header div.container h1 span.bolt {
    margin: 0;
    padding: 0 20px;
    position: absolute;
    width: 50%;
    left: 50px; */
    /* transform: 0%, -20%; */
    /* font-size: 70px;
    color: rgb(18, 20, 148);
} */




/* ../ reškia žingsnį atgal direktorijoje */
/* background-image: url(../images/header.jpg); */
/* background-position: center; */
/* background-size: cover; */






/* div.paragraf div.container {
    font-style: normal;
    font-weight: 700;
    font-size: 19px;
    line-height: 20px;
    color: #FFFFFF;
    text-decoration: rgb(178, 180, 80);
    margin-top: 4px;
    margin-left: 0px;

}

div.container div.apostrof ul.titelbox  {
    margin-left: 0px;


} */



/* div.content {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 200px auto 200px;
    grid-template-areas: 
        "header header"
        "sidebar content"
        "footer footer";
    column-gap: 10px;
    row-gap: 20px;
} */